# R and RStudio
.Rhistory
.RData
.Rproj.user/
.Rproj

# Temporary / cache
.Rcheck/
.Rbuildignore
.DS_Store

# Raw data
data/*.tsv
data/*.csv
data/*.maf
data/*.xlsx

# Logs / outputs
*.log
*.tmp
*.bak
results/checkpoints/*
